$primary-white-color: #ffffff;
$primary-text-color: #000000;
$modal-secondary-text-color: #8c8c8c;
$footer-text-color: #545454;
$footer-bg-color: #f7f7f7;
$accent-color: #ff6b08;
$error-color: #ff001b;
